.parent {
    width: 500px;
    height: 500px;
    background-color: yellow;
    position: relative;
}

.red {
    width: 100px;
    height: 100px;
    background-color: red;
}

.blue {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 50px;
}

.green {
    width: 100px;
    height: 100px;
    background-color: green;
}